.banner-area
    .container
        .banner-wrap
            .col-6
                .banner.mb-30
                    .image-zoom
                        a(href="#")
                            img(src="./image/banner-8.jpg", alt="")
                    .image-content
                        span
                            | new arrivals 
                            br
                            | women
                        h2
                            |Minimalist 
                            br
                            | Blazer
                        p A collection in minilaist style for basic blazer
                        .button
                            a(href="#") SHOP NOW
            .col-6
                .banner.mb-30
                    .image-zoom
                        a(href="#")
                            img(src="./image/banner-9.jpg", alt="")
                    .image-content
                        span.mega MEGA SALE                        
                        h2
                            span.sell 50%
                            |OFF
                            br
                            | For Autotumn
                        p Backpack BYORK, don’t miss out in this mage sale
                        .button
                            a(href="#") SHOP NOW