@media screen and ( min-width: 320px) {
    .pd-detail {
        padding: 60px 0 55px;
    }
    .pd-content {
        margin: 25px 0 0 ;
    }
    .detail .container {
        padding: 0 15px;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-dots  {
        margin: -25px 0 0;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-dots .owl-dot span {
        width: 58px;
        height:100px;
        border-radius: 0;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-dots .owl-dot:first-child span {
        background: url(../image/product-1.jpg) no-repeat center;
        background-size: cover;
        
    }
    .detail .container .product-detail .product-image .owl-theme .owl-dots .owl-dot:last-child span {
        background: url(../image/product-6.jpg) no-repeat center;
        background-size: cover;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-dots .owl-dot:nth-child(2) span {
        background: url(../image/product-14.jpg) no-repeat center;
        background-size: cover;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-dots .owl-dot:nth-child(3) span {
        background: url(../image/product-13.jpg) no-repeat center;
        background-size: cover;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-dots .owl-dot.active span {
        border: 1px solid #ff2f2f;
    }
    .detail .container .product-detail .product-image .image .image-area {
        position: relative;
    }
    .detail .container .product-detail .product-image .image .image-area a i {
        position:absolute;
        width: 40px;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
        right: 25px;
        bottom: 30px;
        display: inline-block;
        background-color: #fff;
        color: #000;
        text-align: center;
        border-radius: 100%;
        z-index: 999;
        transition: all 0.3s ease;
    }
    .detail .container .product-detail .product-image .image .image-area a:hover i {
        color: #ff2f2f;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-nav {
        position: relative;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-nav .owl-prev span {
        bottom: -50%;
        cursor: pointer;
        z-index: 999;
        width: 24px;
        height: 24px;
        line-height: 19px;
        border: 1px solid #979797;
        color: #1E1E1E;
        text-align: center;
        border-radius: 100%;
        font-size: 40px;
        left: -2%;
        font-weight: 100;
        position: absolute;
        transform: translateY(30px);
    }
    .detail .container .product-detail .product-image .owl-theme .owl-nav .owl-next span {
        bottom: -50%;
        cursor: pointer;
        z-index: 999;
        width: 24px;
        height: 24px;
        line-height: 19px;
        border: 1px solid #979797;
        color: #1E1E1E;
        text-align: center;
        border-radius: 100%;
        font-size: 40px;
        right: -2%;
        font-weight: 100;
        position: absolute;
        transform: translateY(30px);
    }
    .detail .container .product-detail .product-content h2 {
        font-size: 22px;
        font-weight: bold;
    }
    .detail .container .product-detail .product-content .rating-view {
        display: flex;
        margin: 16px 0 10px;
        flex-wrap: wrap;
        margin-right: 35px;
    }
    .detail .container .product-detail .product-content .rating-view  .rating {
        display: flex;
        position: relative;
    }
    .detail .container .product-detail .product-content .rating-view  .rating:before {
        position: absolute;
        content: "";
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -18px;
        background-color: #BCBCBC;
        height: 15px;
        width: 1px;
    }
    .detail .container .product-detail .product-content .rating-view  .rating .vote i {
        font-size: 12px;
        color: #ff9806;
        margin-right: 2px;
    }
    .detail .container .product-detail .product-content .rating-view  .rating .degit {
        margin-left: 18px;
    }
    .detail .container .product-detail .product-content .rating-view  .rating .degit span {
        font-size: 16px;
        color: #000;
    }
    .detail .container .product-detail .product-content .rating-view .review span {
        font-size: 15px;
    }
    .detail .container .product-detail .product-content .rating-view .review span:not(:last-child) {
        margin-right: 10px;
    }
    .detail .container .product-detail .product-content p {
        font-size: 15px;
    }
    .detail .container .product-detail .product-content .price {
        display: flex;
        margin:22px 0 32px;
    }
    .detail .container .product-detail .product-content .price span.new {
        font-weight: 500;
        font-family: "Heebo", sans-serif;
        font-size: 28px;
        color: #ff2f2f;
    }
    .detail .container .product-detail .product-content .price span.old {
        font-weight: 500;
        font-family: "Heebo", sans-serif;
        font-size: 20px;
        color: #000;
        margin-left: 15px;
        text-decoration: line-through;
    }
    .detail .container .product-detail .product-content .color  {
        margin-bottom: 35px;
    }
    .detail .container .product-detail .product-content .color span {
        display: block;
        font-weight: 600;
        margin: 0 0 7px;
        line-height: 1;
        letter-spacing: .5px;
        font-size:15px;
    }
    .detail .container .product-detail .product-content .color ul li {
        margin-right: 5px;
        display: inline-block;
    }
    .detail .container .product-detail .product-content > .color ul li a {
        width: 31px;
        height:31px;
        font-size: 0;
        display: inline-block;
        border: 1px solid #E3E4E9;
        position: relative;
    }
    .gold {
        background-color: #ff9806;
    }
    .white {
        background-color: #fff;
    }
    .pink {
        background-color: #FBBBBB;
    }
    .organe {
        background-color: #FFCC8A;
    }
    .mona {
        background-color: #FB9696;
    }
    .cupid {
        background-color: #F5A8DE;
    }
    .detail .container .product-detail .product-content  .color.size ul li a {
        width: 40px;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        color: #000;
        transition: all 0.3s ease-in-out
    }
    .detail .container .product-detail .product-content  .color.size ul li a:hover {
        background-color: #ff2f2f;
        color:#fff;
        border: 1px solid #ff2f2f;
    }
    .detail .container .product-detail .product-content .quantity span {
        display: block;
        font-weight: 600;
        margin: 0 0 7px;
        line-height: 1;
        letter-spacing: .5px;
        font-size:15px;
    }
    .detail .container .product-detail .product-content .quantity .cart-plus-minus  {
        display: inline-block;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .detail .container .product-detail .product-content .quantity .cart-plus-minus .qtybutton {
        color: #000000;
        cursor: pointer;
        float: inherit;
        font-size: 18px;
        line-height: 20px;
        margin: 0;
        position: absolute;
        text-align: center;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        top: 0;
    }
    .detail .container .product-detail .product-content .quantity .cart-plus-minus .qtybutton.dec {
        height: 31px;
        width: 31px;
        line-height: 31px;
        border: 1px solid #E3E4E9;
        left:0;
    }
    .detail .container .product-detail .product-content .quantity .cart-plus-minus input {
        background: transparent none repeat scroll 0 0;
        border: medium none;
        color: #3A3A3A;
        float: left;
        font-size: 14px;
        font-weight: 500;
        height: 31px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 92px;

    }
    .detail .container .product-detail .product-content .quantity .cart-plus-minus .qtybutton.inc {
        height: 31px;
        width: 31px;
        line-height: 31px;
        border: 1px solid #E3E4E9;
        right: 0px;
    }
    .detail .container .product-detail .product-content .product-detail-meta {
        margin:21px 0 29px;
    }
    .detail .container .product-detail .product-content .product-detail-meta ul li {
        margin: 0 0 5px;
    }
    .detail .container .product-detail .product-content .product-detail-meta ul li span {
        display: inline-block;
        width: 105px;
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 15px;
    }
    .detail .container .product-detail .product-content .action .add-to-cart  {
        margin-bottom: 20px;
        margin-right: 15px;
    }
    .detail .container .product-detail .product-content .action .add-to-cart a {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        line-height: 1;
        background-color: #000000;
        padding: 18px 50px 17px;
        transition: all 0.3s ease-in-out;
    }
    .detail .container .product-detail .product-content .action .add-to-cart a:hover {
        background-color: #ff2f2f;
    }
    .detail .container .product-detail .product-content .action .action-icon a {
        display: inline-block;
        font-size: 17px;
        line-height: 1;
        padding: 16px 18px 17px;
        color: #000000;
        border: 1px solid #EDEDED;
        margin-right: 15px;
        position: relative;
        transition: all 0.3s ease-in-out;
    }
    .detail .container .product-detail .product-content .action .action-icon a:hover {
        background-color: #ff2f2f;
        color: #fff;
    }
}
@media screen and (min-width: 480px) {
    .detail .container .product-detail .product-image .owl-theme .owl-dots .owl-dot span {
        width: 98px;
        height: 120px;
        border-radius: 0;
    }
}
@media screen and (min-width: 768px) {
    .detail .container .product-detail  {
        display: grid;
        grid-template-columns: 47% 48%;
        justify-content: space-between;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-dots .owl-dot span {
        width: 67px;
        height: 100px;
        border-radius: 0;
    }
    .pd-content {
        margin: 0 0 0;
    }
    .pd-detail {
        padding: 80px 0 75px;
    }
}
@media screen and (min-width: 1200px){
    .pd-detail {
        padding: 120px 0 115px;
    }
    .detail .container .product-detail  {
        display: grid;
        grid-template-columns: 48% 50%;
        justify-content: space-between;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-dots .owl-dot span {
        width: 90px;
        height: 110px;
        border-radius: 0;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-nav .owl-prev span {
        left: 13%;
    }
    .detail .container .product-detail .product-image .owl-theme .owl-nav .owl-next span {
        right: 13%;
    }
}