.footer 
    .container
        .subscribe
            .col-5
                .section-title
                    h2 KEEP CONNECTED
                    p get update by subcribe our weekly newsletter
            .col-5
                .signup
                    i.fas.fa-envelope-open
                    input(type="text" placeholder =" Enter your email address" name="EMAIL").email 
                .clear
                    input(type="submit" name="subcribe" value="Subcribe").button
        .footer-content
            .col-6
                .info-contact
                    .logo
                        a(href="index.pug")
                            img(src="./image/logo.png", alt="")
                    .single-contact
                        span Our Location
                        p 869 General Village Apt.654, moorebury, USA
                    .single-contact
                        span 24/7 Hotline
                        p (+99) 052 128 2399
            .col-6
                .menu-footer
                    ul
                        li 
                            a(href="index.pug") HOME
                        li 
                            a(href="#") SHOP
                        li 
                            a(href="#") PRODUCT
                        li 
                            a(href="#") CONTACT
                        li 
                            a(href="#") BLOG.
                .social-icon
                    a(href="#")
                        i.fab.fa-twitter
                    a(href="#")
                        i.fab.fa-facebook-f
                    a(href="#")
                        i.fab.fa-google-plus-g
                    a(href="#")
                        i.fab.fa-instagram
                    a(href="#")
                        i.fab.fa-youtube
                .coppy-right
                    p
                        |Copyright © 2020 HasThemes | 
                        a(href="https://hasthemes.com/")
                            | Buit with 
                            span.red Norda
                            | by HasThemes.

                