.slide-logo
    .container 
        .logo
            .single-logo
                img(src="./image/brand-logo-1.png", alt="")
            .single-logo
                img(src="./image/brand-logo-2.png", alt="")
            .single-logo
                img(src="./image/brand-logo-3.png", alt="")
            .single-logo
                img(src="./image/brand-logo-4.png", alt="")
            .single-logo
                img(src="./image/brand-logo-5.png", alt="")
            