.press
    .container
        .press-section
            .section-title
                h2 PRESS & LOOKS
            .section
                .section-all
                    a.active(href="#") All Articles
        .press-area
            .col-4
                .wrap
                    .press-img
                        a(href="#") 
                            img(src="./image/blog-1.jpg", alt="")
                    .press-content
                        .press-meta
                            ul
                                li
                                    a(href="#") News
                                li May 25, 2020
                        h3
                            a(href="#") Five things you only know if you’re at Chanel's Hamburg Show
        
            .col-4
                .wrap
                    .press-img
                        a(href="#") 
                            img(src="./image/blog-2.jpg", alt="")
                    .press-content
                        .press-meta
                            ul
                                li
                                    a(href="#") Inspiration 
                                li May 25, 2020
                        h3
                            a(href="#") Basic colord mixed - trendind 2020
            .col-4
                .wrap
                    .press-img
                        a(href="#") 
                            img(src="./image/blog-3.jpg", alt="")
                    .press-content
                        .press-meta
                            ul
                                li
                                    a(href="#") Lookbook
                                li May 25, 2020
                        h3
                            a(href="#") Calvin Klein Shoes Collection 2020, Activites Summer
        