@media screen and (min-width: 320px) {
    .related {
        padding-bottom: 55px;
        padding-top:30px;
    }
    .related .container {
        padding: 0 15px;
    }
    .related .container .title {
        margin-bottom: 25px;
        text-align: center;
    }
    .related .container .title h2 {
        font-size: 24px;
        font-weight: bold;
        font-family: "Heebo", sans-serif;
        margin: 0;
        text-transform: uppercase;
    }
    .related .container .owl-theme .owl-dots {
        display: none;
    }
    .related .container .related-product .product-1 {
        position: relative;
    }
    .related .container .related-product .product-1 .product-img {
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .related .container .related-product .product-1 .product-img a img {
        width: 100%;
    }
    .related .container .related-product .product-1:hover .product-img a img {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
    .related .container .related-product .product-1 .product-img span {
        position: absolute;
        top:17px;
        left: 17px;
        padding: 4px 5px 6px;
        color: #fff;
        line-height: 1;
        font-weight: 600;
        background-color: #ff2f2f;
        display: inline-block;
    }
    .related .container .related-product .product-1 .product-img .product-action {
        position: absolute;
        top: 17px;
        right: 17px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease-in;
    }
    .related .container .related-product .product-1:hover .product-img .product-action {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .related .container .related-product .product-1 .product-img .product-action i {
        display: block;
        font-size: 14px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: #fff;
        border-radius: 100%;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    .related .container .related-product .product-1 .product-img .product-action i:hover {
        background-color: #000;
        color: #fff;
    }
    .related .container .related-product .product-1 .product-content {
        text-align: center;
    }
    .related .container .related-product .product-1 .product-content .vote i {
        margin-right: 5px;
        font-size: 14px;
        color: #ccc;
    }
    .related .container .related-product .product-1 .product-content .vote span {
        color: #ccc;
    }
    .related .container .related-product .product-1 .product-content .vote .voted {
        color: #ff9806;
    }
    .related .container .related-product .product-1 .product-content .product-name a {
        font-size: 14px;
        font-weight: bold;
        margin: 2px 0 8px;
        color: #000;
    }
    .related .container .related-product .product-1 .product-content .price span {
        font-size: 18px;
        color: #000000;
        font-family: "Heebo", sans-serif;
        display: inline-block;
        margin: 0 4px;
    }
    .related .container .related-product .product-1 .product-content .price .new {
        color: #ff2f2f;
    }
    .related .container .related-product .product-1 .product-content .price .old {
        font-size: 14px;
        color: #999999;
        text-decoration: line-through;
    }
    .related .container .related-product .product-1 .product-content .add  {
        margin-top: 15px;
    }
    .related .container .related-product .product-1 .product-content .add a {
        border: none;
        font-weight: bold;
        color: #ffffff;
        background-color: #000000;
        font-size: 14px;
        padding: 8px 28px 8px;
        border-radius: 50px;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    .related .container .related-product .product-1 .product-content .add a:hover {
        background-color: #ff2f2f;
        color: #fff;
    }
    .related .container .related-product .product-1 .product-content .content-hover {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        visibility: hidden;
        opacity: 0;
        background-color: #ffffff;
        padding: 17px 10px 5px;
        opacity: 0;
    }
    .related .container .related-product .product-1:hover .product-content .content-hover {
        bottom: 0;
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (min-width: 768px ) {
    .related .container .related-product {
        margin: -15px 0;
    }
    .related .container .related-product .product-1 {
        padding: 0 15px;
    }
    .related .container .title {
        margin-bottom:50px;
    }
}
@media screen and (min-width: 1200px) {
    .related .container {
        padding: 0;
    }
    .description {
        padding-bottom: 110px;
    }
    .related {
        padding-bottom: 115px;
    }
}