.header-area    
    .top-header
        .container-full
            .row
                .col-4
                    .offer-wrap
                        p 
                            i.far.fa-paper-plane
                            |  FREE SHIPPING world wide for all orders over 
                            span $199
                .col-4
                    .right-content
                        .track-order
                            a(href="#") Track Your Order
                        .currency-language
                            .language
                                a(href="#")
                                    | English
                                    i.fas.fa-angle-down.mi-5
                                .language-down
                                    ul
                                        li
                                            a(href="#") English
                                        li
                                            a(href="#") Spainish
                                        li
                                            a(href="#") ViệtNam
                                        li
                                            a(href="#") German

                            .currency
                                a(href="#")
                                    | US Dollar
                                    i.fas.fa-angle-down.mi-5
                                .currency-down
                                    ul
                                        li 
                                            a(href="#") USD
                                        li 
                                            a(href="#") EUR
                                        li 
                                            a(href="#") VND
                                        li 
                                            a(href="#") Real
                        .social
                            .social-icon
                                a(href="#")
                                    i.fab.fa-twitter
                                a(href="#")
                                    i.fab.fa-facebook-f
                                a(href="#")
                                    i.fab.fa-instagram
                                a(href="#")
                                    i.fab.fa-youtube
                                a(href="#")
                                    i.fab.fa-pinterest-p
    .main-header  
        .container  
            .logo   
                a(href="index.pug")
                    img(src="./image/logo.png", alt="")
            .main-menu
                .nav
                    ul
                        li.has-submenu 
                            a.active(href="index.pug") HOME
                            ul.sub-menu
                                li
                                    a(href="#") Home Version 1
                                li
                                    a(href="#") Home Version 2
                                li
                                    a(href="#") Home Version 3
                                li
                                    a(href="#") Home Version 4
                                li
                                    a(href="#") Home Version 5
                                li
                                    a(href="#") Home Version 6
                                li
                                    a(href="#") Home Version 7
                                li
                                    a(href="#") Home Version 8
                                li
                                    a(href="#") Home Version 9
                                li
                                    a(href="#") Home Version 10
                        li.has-submenu 
                            a(href="index.pug") SHOP
                            ul.sub-menu.large
                                li.large-title
                                    ul
                                        li
                                            a.drop-title(href="#") Shop Layout
                                            ul
                                                li 
                                                    a(href="#") Standard Style
                                                li 
                                                    a(href="#") Shop List Style
                                                li 
                                                    a(href="#") Shop FullWide
                                                li 
                                                    a(href="shop.html") Grid No Sidebar
                                                li 
                                                    a(href="#") List No Sidebar
                                                li 
                                                    a(href="#") Shop Right Sidebar
                                                li 
                                                    a(href="#") Store Location
                                        li
                                            a.drop-title(href="#") Product Layout
                                            ul
                                                li 
                                                    a(href="detail.html") Tab Style 1
                                                li 
                                                    a(href="#") Tab Style 2
                                                li 
                                                    a(href="#") Stick Style
                                                li 
                                                    a(href="#") Gallery Style
                                                li 
                                                    a(href="#") affiliate Style
                                                li 
                                                    a(href="#") Group Style
                                                li 
                                                    a(href="#") Fixed Image Style
                                        li 
                                            a(href="#")
                                                img(src="./image/banner-12.png", alt="")
                                                        
                        li.has-submenu 
                            a(href="index.pug") PAGE
                            ul.sub-menu
                                li 
                                    a(href="#") About Us
                                li 
                                    a(href="cart.html") Cart Page
                                li 
                                    a(href="checkout.html") Checkout
                                li 
                                    a(href="#") My Account
                                li 
                                    a(href="#") Wishlist
                                li 
                                    a(href="#") Compare
                                li 
                                    a(href="#") Contact Us
                                li 
                                    a(href="#") Order Tracking
                                li 
                                    a(href="#") Login / Register
                        li.has-submenu 
                            a(href="index.pug") BLOG
                            ul.sub-menu
                                li 
                                    a(href="#") Blog Standard
                                li 
                                    a(href="#") Blog No Sidebar
                                li 
                                    a(href="#") Blog Right Sidebar
                                li 
                                    a(href="#") Blog Details
                        li 
                            a(href="index.pug") CONTACT
            .header-icon
                ul
                    li.search
                        a(href="#")
                            i.fas.fa-search
                    li
                        a(href="#")
                            i.far.fa-user
                    li
                        a(href="#")
                            i.far.fa-heart
                            span 03
                    li.shop
                        a(href="#")
                            i.fas.fa-shopping-cart
                            span 03
                        .cart-view
                            .bkg
                                .view
                                    a.cart-close(href="#")
                                        i.fas.fa-times
                                    .cart-content
                                        h3 Shopping Cart
                                        ul
                                            li
                                                .cart-img
                                                    a(href="#")
                                                        img(src="./image/cart-1.jpg", alt="")
                                                .cart-title 
                                                    h4
                                                        a(href="#") Simple Black T-Shirt
                                                    span  1 × $49.00	
                                                .delete
                                                    a(href="#") x
                                            li
                                                .cart-img
                                                    a(href="#")
                                                        img(src="./image/cart-2.jpg", alt="")
                                                .cart-title 
                                                    h4
                                                        a(href="#") Simple Black T-Shirt
                                                    span  1 × $49.00	
                                                .delete
                                                    a(href="#") x
                                        .cart-total
                                            h4 
                                                | Subtotal: 
                                                span $170.00
                                        a.btn(href="cart.html") View Cart
                                        a.btn(href="checkout.html") Checkout


                    li.bars 
                        a(href="#")
                            i.fas.fa-bars


script.
    $('.shop').click(function(){
        $('.view').toggleClass('active');
    })
    $('.fa-times').click(function(){
        $('.view').toggleClass('active');
    })
    

