.category
    .container
        .single
            .single-category
                .icon
                    i.fas.fa-user-friends
                .content
                    h4
                        a(href="#")
                            |New Arrival
                            br
                            | Product
            .single-category
                .icon
                    i.fas.fa-fire
                .content
                    h4
                        a(href="#")
                            |Special Offer
                            br
                            | Product
            .single-category
                .icon
                    i.fas.fa-shopping-bag
                .content
                    h4
                        a(href="#")
                            |Bags &
                            br
                            | Accessories
            .single-category
                .icon
                    i.fas.fa-user-friends
                .content
                    h4
                        a(href="#")
                            |Young Clothing
                            br
                            | & Accessories
            .single-category
                .icon
                    i.far.fa-smile
                .content
                    h4
                        a(href="#")
                            |Kid & Babies
                            br
                            | Apparel