.product-new
    .container.pd
        .product-container
            .product-section
                .section-title
                    h2 NEW ARRIVALS
                .section
                    .section-5
                        a.active(href="#") All
                        a(href="#") Clothing
                        a(href="#") Bags
                        a(href="#") Shoes
                        a(href="#") Accesories
                    .section-all
                        a(href="#") All Product
            .product-area
                .single-area-new.owl-carousel.owl-theme
                    .product-1
                        .product-img
                            a(href="#")
                                img(src="./image/product-37.jpg", alt="")
                            span -20%
                            .product-action
                                i.far.fa-heart
                                i.fas.fa-expand-arrows-alt
                                i.fas.fa-sync-alt
                        .product-content
                            .content-info
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                            .content-hover
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                                .add
                                    a(href="#") Add to Cart
                    .product-1
                        .product-img
                            a(href="#")
                                img(src="./image/product-38.jpg", alt="")
                            span -20%
                            .product-action
                                i.far.fa-heart
                                i.fas.fa-expand-arrows-alt
                                i.fas.fa-sync-alt
                        .product-content
                            .content-info
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                            .content-hover
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                                .add
                                    a(href="#") Add to Cart
                    .product-1
                        .product-img
                            a(href="#")
                                img(src="./image/product-39.jpg", alt="")
                            span -20%
                            .product-action
                                i.far.fa-heart
                                i.fas.fa-expand-arrows-alt
                                i.fas.fa-sync-alt
                        .product-content
                            .content-info
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                            .content-hover
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                                .add
                                    a(href="#") Add to Cart
                    .product-1
                        .product-img
                            a(href="#")
                                img(src="./image/product-38.jpg", alt="")
                            span -20%
                            .product-action
                                i.far.fa-heart
                                i.fas.fa-expand-arrows-alt
                                i.fas.fa-sync-alt
                        .product-content
                            .content-info
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                            .content-hover
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                                .add
                                    a(href="#") Add to Cart
                    .product-1
                        .product-img
                            a(href="#")
                                img(src="./image/product-40.jpg", alt="")
                            span -20%
                            .product-action
                                i.far.fa-heart
                                i.fas.fa-expand-arrows-alt
                                i.fas.fa-sync-alt
                        .product-content
                            .content-info
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                            .content-hover
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                    span (2)
                                .product-name
                                    a(href="#") Make Thing Happen T-Shirt
                                .price
                                    span.new $30.00
                                    span.old $35.00
                                .add
                                    a(href="#") Add to Cart
script.
    $(document).ready(function(){
        $('.single-area-new').owlCarousel({
            nav: true,
            loop: true,
            responsive : {
                1200: {
                    items: 4
                },
                768: {
                    items: 3
                },
                320: {
                    items: 1
                }
            }

        })
    })